<div class="mb-6 pb-6 lg:mb-12 lg:pb-12">
  <div class="text-center mx-auto max-w-2xl">
    <h1 class="text-4xl font-semibold tracking-tight text-pretty text-white sm:text-5xl">About Me</h1>
    <p class="mt-4 text-lg font-medium text-pretty text-indigo-400">Get to know me</p>
    <p class="text-[19px] font-medium text-[#e1e1e1] leading-7.5 mt-5">
      Hi there! I'm Hamza, a data scientist specializing in data analytics, predictive modeling, natural language
      processing, machine learning, and AI chatbots. With a passion for unraveling insights from complex datasets,
      I'm dedicated to helping businesses make informed decisions and stay ahead in today's data-driven world.
    </p>
    <p class="text-[19px] font-medium text-[#e1e1e1] leading-7.5 mt-5">
      I bring a blend of technical expertise, hands-on experience, and a commitment to clear communication to every
      project. Whether it's uncovering hidden patterns, predicting future trends, or automating processes with AI,
      I'm here to help you harness the full potential of your data.
    </p>
    <p class="text-[19px] font-medium text-[#e1e1e1] leading-7.5 mt-5">
      Let's work together to transform your data into actionable insights that drive real results. Get in touch, and
      let's start unlocking the power of your data today!
    </p>
    <div class="mt-10">
      <a target="_blank" href="https://drive.usercontent.google.com/download?id=1gRFmbS9Rlq7dOpjygYf8C1m0hrHUI-w7&export=download&authuser=1&confirm=t&uuid=5a239e77-65b3-4255-b767-c3965b68e4a5&at=ALWLOp50OFAXRNUanegNXSn2R9s-:1764880167237" class="rounded-md bg-indigo-500 px-7 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Download resume</a>
    </div>
  </div>
</div>
