<div class="absolute inset-x-0 top-0 z-50">
  <nav aria-label="Global" class="flex items-center justify-between p-6 lg:px-8">
    <div class="flex lg:flex-1">
      <a href="#" class="text-[32px] font-bold text-[#ffffff] uppercase -m-1.5 p-1.5">Hamza</a>
    </div>
    <div class="flex lg:hidden">
      <button type="button" command="show-modal" commandfor="mobile-menu" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-200">
        <span class="sr-only">Open main menu</span>
        <fa-icon [icon]="menu"></fa-icon>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a href="#home" class="text-sm/6 font-semibold text-white" [ngClass]="">Home</a>
      <a href="#about" class="text-sm/6 font-semibold text-white">About</a>
      <a href="#services" class="text-sm/6 font-semibold text-white">Services</a>
      <a href="#projects" class="text-sm/6 font-semibold text-white">Projects</a>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a href="https://forms.gle/bzcTUB18xY8bsAZD7" class="text-sm/6 font-semibold text-white">Contact me</a>
    </div>
  </nav>
  <dialog id="mobile-menu" class="backdrop:bg-transparent lg:hidden">
    <div tabindex="0" class="fixed inset-0 focus:outline-none">
      <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-gray-900 p-6 sm:max-w-sm sm:ring-1 sm:ring-gray-100/10">
        <div class="flex items-center justify-between">
          <a href="#" class="text-[32px] font-bold text-white uppercase -m-1.5 p-1.5">Hamza</a>
          <button type="button" command="close" commandfor="mobile-menu" class="-m-2.5 rounded-md p-2.5 text-gray-200">
            <span class="sr-only">Close menu</span>
            <fa-icon [icon]="close"></fa-icon>
          </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-white/10">
            <div class="space-y-2 py-6">
              <a href="#home" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-white hover:bg-white/5">Home</a>
              <a href="#about" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-white hover:bg-white/5">About</a>
              <a href="#services" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-white hover:bg-white/5">Services</a>
              <a href="#projects" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-white hover:bg-white/5">Projects</a>
            </div>
            <div class="py-6">
              <a href="https://forms.gle/bzcTUB18xY8bsAZD7" target="_blank"
                 class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-white hover:bg-white/5">
                Contact me
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </dialog>
</div>
