<div class="mx-auto max-w-5xl mb-6 pb-6 lg:mb-12 lg:pb-12">
  <div class="mx-auto max-w-2xl">
    <div class="flex justify-center mb-8">
      <div class="relative rounded-full px-3 py-1">
        <img ngSrc="image/15.png" height="200" width="200" alt="Logo">
      </div>
    </div>
  </div>
  <div class="text-center">
    <h1 class="text-5xl font-semibold tracking-tight text-balance text-white sm:text-7xl">Hamza <span class="uppercase">Gattal</span></h1>
    <p class="mt-5 text-lg font-medium text-pretty text-indigo-400">
      Developer - Android & Web Technologies
    </p>
    <p class="mt-8 text-lg font-medium text-pretty text-gray-400 sm:text-xl/8">
      Passionate developer with strong foundational skills in mobile and web application development. I'm proficient in
      building Android applications, creating modern web interfaces with Angular, and developing backend services using
      Spring Boot. Currently expanding my expertise through personal projects and continuously learning new technologies
      to deliver quality digital solutions.
    </p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a href="https://forms.gle/bzcTUB18xY8bsAZD7" target="_blank"
         class="rounded-md bg-indigo-500 px-7 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Contact me</a>
    </div>
  </div>
</div>
